.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  overflow-x: hidden;
  color: #000000;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.r-header {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px 0 0 0;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  box-shadow: 0 0 0 5px #ab251b;
  z-index: 8;
  transition: all 0.2s ease-out;

  &_active {
    position: fixed;
    top: 0;
    left: 0;
    padding: 6px 0 0 0;
    background: #292929;

    .r-header__logo {
      max-width: 70px;
    }

    .r-header__logo-image {
      display: none;
    }

    .r-header__logo-small {
      display: inline-block;
    }

    .r-header__logo-text {
      display: none;
    }
  }

  &_light {
    .r-header__toggle {
      filter: invert(1);
    }

    .r-header__nav li a {
      color: #1d1d1d;
    }

    .r-header__lang {
      color: #1d1d1d;
    }

    .r-header__phone {
      color: #1d1d1d;
    }
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }

  &__logo {
    display: inline-block;
    position: relative;
    max-width: 115px;
    margin-bottom: -5px;

    &-small {
      display: none;
    }

    &-text {
      display: block;
      position: absolute;
      left: 10px;
      bottom: 40px;
      margin: 0;
      color: #ffffff;
      font-size: 7px;
      font-weight: 400;
      text-transform: uppercase;
      filter: brightness(1.2);
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      filter: brightness(1.2);
      text-decoration: none;
    }
  }

  &__toggle {
    display: inline-block;
    padding: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.95);
      text-decoration: none;
    }
  }

  &__nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      &:first-child {
        a {
          padding-left: 0;
        }
      }

      &:last-child {
        a {
          padding-right: 0;
        }
      }

      a {
        display: inline-block;
        padding: 6px 20px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #d42f23;
          text-decoration: none;
        }
      }
    }
  }

  &__phone {
    display: inline-block;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #d42f23;
      text-decoration: none;
    }
  }

  &__lang {
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;

    label {
      margin: 0;
      padding: 0;

      input {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;

        &:not(:checked)~span {
          text-decoration: underline !important;
        }
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #d42f23;
        text-decoration: none;
      }
    }
  }
}

.r-home-top {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -117px;
  background-position: center center;
  background-size: cover;

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 140px 0 20px 0;
    /* background-color: rgba(29, 29, 29, 0.75); */
  }

  &__title {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
  }

  &__text {
    display: block;
    margin: 30px 0 0 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
  }
}

.r-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(29, 29, 29, 0.95);
  }

  &__close {
    display: block;
    position: absolute;
    left: calc((100vw - 1200px) / 2);
    top: 40px;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      transform: scale(0.95);
      text-decoration: none;
    }
  }

  &__title {
    display: block;
    margin: 0 0 28px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #d42f23;
      text-decoration: none;
    }
  }

  &__subtitle {
    display: block;
    margin: 0 0 28px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
  }

  &__nav {
    display: block;
    position: relative;
    margin: 0 0 50px 0;
    padding: 0;
    list-style: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;

    &:last-child {
      margin-bottom: 0;
    }

    li {
      display: block;

      a {
        display: block;
        margin: 0 0 14px 0;
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #d42f23;
          text-decoration: none;
        }
      }
    }
  }

  &_line {
    position: relative;

    &:after {
      display: block;
      position: absolute;
      content: '';
      right: -60px;
      top: 0;
      width: 1px;
      height: 100%;
      background: #ffffff;
      opacity: 0.5;
    }
  }

  &__link {
    display: block;
    margin: 0 0 14px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #d42f23;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    margin: -10px 0 50px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
  }

  &__call {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-top: -5px;

    img,
    svg {
      display: inline-block;
      margin-right: 14px;
      transition: all 0.2s ease-out;
    }

    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;

    p {
      margin: 0;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {

      img,
      svg {
        filter: brightness(1.2);
      }

      color: #ffffff;
      text-decoration: none;
    }
  }
}

.r-welcome {
  display: block;
  position: relative;
  width: 100%;
  padding: 165px 0 85px 0;

  &__video {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 650px;
    height: 485px;
    background-position: center center;
    background-size: cover;

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 675px;
      height: 545px;
      top: -85px;
      left: -40px;
      background: url('../images/home_video_bg.svg') no-repeat center center;
      background-size: 100% 100%;
      z-index: -1;
    }

    img,
    svg {
      display: block;
      filter: grayscale(1);
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {

      img,
      svg {
        filter: none;
      }

      color: #ffffff;
      text-decoration: none;
    }
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.88;

    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 807px;
      height: 443px;
      right: -75px;
      top: -15px;
      background: url('../images/home_video_text_bg.png') no-repeat;
      background-size: 100% 100%;
      z-index: -1;
    }

    p {
      display: block;
      height: 240px;
      overflow: hidden;
      margin: 0 0 30px 0;
    }

    a {
      color: #ab251b;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #ab251b;
        text-decoration: none;
      }
    }

    ul {
      display: block;
      margin: 20px 0 25px 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        padding-left: 45px;
        background: url('../images/icon_li.png') no-repeat left 20px top 10px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.88;
      }
    }
  }

  &__title {
    display: block;
    height: 72px;
    overflow: hidden;
    margin: 0 0 40px 0;
    color: #1d1d1d;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__link {
    display: flex;
    align-items: center;
    color: #ab251b;
    font-size: 16px;
    font-weight: 300;

    img,
    svg {
      margin-left: 10px;
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {

      img,
      svg {
        margin-left: 20px;
      }

      color: #ab251b;
      text-decoration: none;
    }
  }
}

.r-home-events {
  display: block;
  position: relative;
  width: 100%;

  &__title {
    display: block;
    position: relative;
    margin: 0;
    color: #1d1d1d;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    display: block;
    position: relative;
    margin: 20px 0 0 0;
    color: #1d1d1d;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.67;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    margin-left: 25px;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;

    span,
    p {
      display: inline-block;
      margin: 0 0 0 15px;
    }

    img,
    svg {
      transition: all 0.2s ease-out;
    }


    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {

      img,
      svg {
        filter: brightness(1.2);
      }

      color: #1d1d1d;
      text-decoration: none;
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
    min-height: 520px;
    padding: 45px 0 100px calc((100vw - 1200px) / 2);
  }

  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 270px;
    height: 270px;
    background-size: auto 100%;
    background-position: 0 0;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.4s ease-out;

    &:hover {
      background-size: auto 105%;
      text-decoration: none;

      .r-home-events__card-content {
        background: transparent;
      }
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: flex-start;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      background-color: rgba(29, 29, 29, 0.4);
      transition: all 0.2s ease-out;
    }

    &-title {
      display: block;
      height: 48px;
      margin: 0;
      overflow: hidden;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.2;
    }

    &-date {
      display: block;
      margin: 0 0 12px 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
    }
  }

  .swiper-button-prev {

    img,
    svg {
      transition: all 0.2s ease-out;
    }

    top: auto;
    bottom: 89px;
    left: auto;
    right: calc((100vw - 1200px) / 2 + 335px + 70px);
    outline: none;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    z-index: 2;
    transition: all 0.2s ease-out;

    &:hover {

      img,
      svg {
        filter: brightness(1.2);
      }

      color: #ffffff;
      text-decoration: none;
    }
  }

  .swiper-button-next {

    img,
    svg {
      transition: all 0.2s ease-out;
    }

    top: auto;
    bottom: 85px;
    right: calc((100vw - 1200px) / 2 + 342px);
    outline: none;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    z-index: 2;
    transition: all 0.2s ease-out;

    &:hover {

      img,
      svg {
        filter: brightness(1.2);
      }

      color: #ffffff;
      text-decoration: none;
    }
  }
}

.r-home-spaces {
  display: block;
  position: relative;
  width: 100%;
  padding: 205px 0 105px 0;
  background: url('../images/spaces_bg.svg') no-repeat center top;
  background-size: cover;

  .row {
    position: relative;

    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 1166px;
      height: 788px;
      left: 75px;
      top: -140px;
      background: url('../images/spaces_text_bg.png') no-repeat;
      background-size: 100% 100%;
      z-index: 0;
    }
  }

  &__info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 270px;
    height: 270px;
    margin-bottom: 30px;
    z-index: 1;
  }

  &__more {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 270px;
    height: 270px;
    margin-bottom: 30px;
    background: #ab251b;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    z-index: 1;

    img,
    svg {
      display: block;
      margin-bottom: 20px;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.95);
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__title {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    display: block;
    margin: 20px 0 0 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.67;
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    height: 270px;
    margin-bottom: 30px;
    background-position: 0 0;
    background-size: auto 100%;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.4s ease-out;

    &:hover {
      .r-home-spaces__card-content {
        background: transparent;
      }

      background-size: auto 105%;
      text-decoration: none;
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 16px 20px;
      background-color: rgba(29, 29, 29, 0.4);
      transition: all 0.2s ease-out;
    }

    &-title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
    }
  }
}

.r-home-clients {
  display: block;
  position: relative;
  width: 100%;
  padding: 95px 0 65px 0;

  &__title {
    display: block;
    position: relative;
    margin: 0;
    color: #1d1d1d;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    display: block;
    position: relative;
    margin: 20px 0 0 0;
    color: #1d1d1d;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.67;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    margin-left: 25px;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;

    span,
    p {
      display: inline-block;
      margin: 0 0 0 15px;
    }

    img,
    svg {
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {

      img,
      svg {
        filter: brightness(1.2);
      }

      color: #1d1d1d;
      text-decoration: none;
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 75px;

    &>.row {
      &>div {
        &:nth-child(1) {
          margin-top: 50px;
        }

        &:nth-child(3) {
          margin-top: 85px;
        }

        &:nth-child(4) {
          margin-top: 30px;
        }

        &:nth-child(5) {
          margin-top: 85px;
        }
      }
    }
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 170px;
    height: 400px;
    margin: 0 auto 30px auto;
    background-position: center center;
    background-size: cover;

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: translateY(-10px);
      text-decoration: none;
    }
  }
}

.r-home-numbers {
  display: block;
  position: relative;
  padding: 0;

  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 225px;
    margin: 0 auto 30px auto;
    text-align: center;

    &-number {
      display: block;
      margin: 0 0 5px 0;
      color: #1d1d1d;
      line-height: 1;
      font-size: 100px;
      font-weight: 200;
      text-transform: uppercase;
    }

    &-text {
      display: block;
      margin: 0;
      color: #1d1d1d;
      font-size: 20px;
      font-weight: 300;
    }
  }
}

.r-home-gallery {
  display: block;
  position: relative;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  padding: 30px 0 0 0;

  .swiper-container {
    overflow: visible !important;
  }

  &__title {
    display: block;
    position: relative;
    margin: 0;
    color: #1d1d1d;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    margin-left: 25px;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;

    span,
    p {
      display: inline-block;
      margin: 0 0 0 15px;
    }

    img,
    svg {
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {

      img,
      svg {
        filter: brightness(1.2);
      }

      color: #1d1d1d;
      text-decoration: none;
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 30px;

    .swiper-wrapper {
      transition-timing-function: linear;
    }
  }

  &__card {
    display: inline-block;
    height: 200px;
    width: auto;
  }

  .swiper-slide {
    width: auto;
  }
}

.r-home-rent {
  display: block;
  position: relative;
  width: 100%;
  padding: 120px 0 70px 0;

  &__video {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 570px;
    height: 405px;
    background-position: center center;
    background-size: cover;

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 580px;
      height: 360px;
      top: -60px;
      right: -30px;
      background: url('../images/rent_bg.svg') no-repeat center center;
      background-size: 100% 100%;
      z-index: -1;
    }

    img,
    svg {
      display: block;
      filter: grayscale(1);
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {

      img,
      svg {
        filter: none;
      }

      color: #ffffff;
      text-decoration: none;
    }
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 10px;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.88;

    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 868px;
      height: 238px;
      left: -55px;
      top: 20px;
      background: url('../images/rent_text_bg.png') no-repeat;
      background-size: 100% 100%;
      z-index: 0;
    }

    p {
      display: block;
      max-height: 150px;
      overflow: hidden;
      margin: 0 0 30px 0;
    }

    a {
      color: #ab251b;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #ab251b;
        text-decoration: none;
      }
    }

    ul {
      display: block;
      margin: 20px 0 25px 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        padding-left: 45px;
        background: url('../images/icon_li.png') no-repeat left 20px top 10px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.88;
      }
    }
  }

  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #1d1d1d;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.r-home-areas {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -135px;
  padding: 0;
  z-index: 1;

  &__link {
    display: inline-flex;
    align-items: center;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;

    span,
    p {
      display: inline-block;
      margin: 0 0 0 15px;
    }

    img,
    svg {
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {

      img,
      svg {
        filter: brightness(1.2);
      }

      color: #1d1d1d;
      text-decoration: none;
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 75px;
  }

  &__card {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 570px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      .r-home-areas__card-image {
        background-size: auto 105%;
      }

      .r-home-areas__card-image:after {
        opacity: 0;
      }

      text-decoration: none;
    }

    &-image {
      display: block;
      position: relative;
      width: 270px;
      height: 270px;
      background-position: 0 0;
      background-size: auto 100%;
      transition: all 0.4s ease-out;

      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(29, 29, 29, 0.4);
        opacity: 1;
        transition: all 0.2s ease-out;
      }
    }

    &-content {
      display: block;
      max-width: 230px;
      padding: 10px 0 10px 30px;
    }

    &-title {
      display: block;
      margin: 0;
      color: #1d1d1d;
      font-size: 25px;
      font-weight: 700;
      line-height: 1.44;
    }

    &-info {
      display: flex;
      align-items: center;
      margin: 25px 0 0 0;
      color: #1d1d1d;
      font-size: 18px;
      font-weight: 300;

      img,
      svg {
        display: inline-block;
        margin-right: 20px;
      }
    }
  }

  &__prev {

    img,
    svg {
      transition: all 0.2s ease-out;
    }

    position: absolute;
    left: 40px;
    top: auto;
    bottom: 0;
    outline: none;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    z-index: 2;
    transition: all 0.2s ease-out;

    &:hover {

      img,
      svg {
        filter: brightness(1.2);
      }

      color: #ffffff;
      text-decoration: none;
    }
  }

  &__next {

    img,
    svg {
      transition: all 0.2s ease-out;
    }

    position: absolute;
    left: 103px;
    top: auto;
    bottom: 0;
    outline: none;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    z-index: 2;
    transition: all 0.2s ease-out;

    &:hover {

      img,
      svg {
        filter: brightness(1.2);
      }

      color: #ffffff;
      text-decoration: none;
    }
  }
}

.r-home-form {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -90px;
  padding: 190px 0 95px 0;
  background: url('../images/form_bg.svg') no-repeat center top;
  background-size: cover;

  &_catalog {
    margin: 0;
    padding: 90px 0 105px 0;
    background: #363636;
  }

  &__title {
    display: block;
    margin: 0 0 18px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    display: block;
    margin: 0 0 36px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.67;
  }

  &__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    ::placeholder {
      color: #ffffff;
    }
  }

  &__input {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin-right: 30px;

    input {
      display: block;
      width: 100%;
      padding: 9px 30px;
      border: 0;
      outline: none;
      border-bottom: 1px solid #ab251b;
      background: transparent;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
    }

    img,
    svg {
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -8px;
    }
  }

  &__button {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-right: 75px;
    margin-left: 25px;
    background: transparent;
    border: 0;
    outline: none;
    text-align: left;

    img,
    svg {
      display: inline-block;
      margin-right: 14px;
      transition: all 0.2s ease-out;
    }

    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;

    p {
      margin: 0;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {

      img,
      svg {
        filter: brightness(1.2);
      }

      color: #ffffff;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    margin: 0;
    opacity: 0.5;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
  }
}

.r-home-contacts {
  display: block;
  position: relative;
  width: 100%;
  padding: 90px 0 50px 0;
  background-color: #292929;

  &_news {
    padding-top: 215px;
    background: url('../images/spaces_bg.svg') no-repeat center top;
    background-size: cover;
  }

  #map {
    display: block;
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 450px;
  }

  &__title {
    display: block;
    margin: 0 0 5px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__subtitle {
    display: block;
    margin: 40px 0 20px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
  }

  &__info {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 2.25;

    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #ab251b;
        text-decoration: none;
      }
    }
  }

  &__call {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 65px;

    img,
    svg {
      display: inline-block;
      margin-right: 14px;
      transition: all 0.2s ease-out;
    }

    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;

    p {
      margin: 0;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {

      img,
      svg {
        filter: brightness(1.2);
      }

      color: #ffffff;
      text-decoration: none;
    }
  }
}

.r-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 40px 0 85px 0;
  background-color: #292929;

  &__logo {
    display: block;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.95);
      text-decoration: none;
    }
  }

  &__title {
    display: block;
    margin: 0 0 22px 0;
    color: #959595;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__nav {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;

      &:last-child {
        a {
          margin-bottom: 0;
        }
      }

      a {
        display: block;
        margin: 0 0 14px 0;
        color: #959595;
        font-size: 18px;
        font-weight: 300;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

.r-bottom {
  display: block;
  position: relative;
  width: 100%;
  padding: 6px 0;
  background: #363636;

  &__link {
    display: inline-block;
    opacity: 0.5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 1;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__up {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1200px) / 2);
    padding: 10px 10px 0 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;

    img,
    svg {
      display: inline-block;
      margin-right: 10px;
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {

      img,
      svg {
        filter: brightness(1.2);
      }

      color: #ffffff;
      text-decoration: none;
    }
  }
}







.r-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(29, 29, 29, 0.95);
  }

  &__close {
    display: block;
    position: absolute;
    right: 20px;
    top: 35px;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      transform: scale(0.95);
      text-decoration: none;
    }
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 490px;
    margin: 10px 0;
    padding: 100px 60px 40px 60px;
    background: url('../images/modal_bg.svg') no-repeat center center;
    background-size: 100% 100%;
  }

  &__title {
    display: block;
    margin: 0 0 18px 0;
    color: #ffffff;
    line-height: 1.5;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    display: block;
    margin: 0 0 36px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.67;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    ::placeholder {
      color: #ffffff;
    }
  }

  &__input {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 25px;

    input {
      display: block;
      width: 100%;
      padding: 9px 30px;
      border: 0;
      outline: none;
      border-bottom: 1px solid #ab251b;
      background: transparent;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
    }

    img,
    svg {
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -8px;
    }
  }

  &__button {
    display: inline-flex;
    align-items: center;
    position: relative;
    background: transparent;
    border: 0;
    outline: none;
    text-align: left;

    img,
    svg {
      display: inline-block;
      margin-right: 14px;
      transition: all 0.2s ease-out;
    }

    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;

    p {
      margin: 0;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {

      img,
      svg {
        filter: brightness(1.2);
      }

      color: #ffffff;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    margin: 0;
    padding-left: 10px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
  }
}

.r-social {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  right: 0;
  top: 50vh;
  margin-top: -85px;
  z-index: 8;

  &__link {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      filter: brightness(1.2);
      color: #ffffff;
      text-decoration: none;
    }

    &:nth-child(1) {
      width: 57px;
      height: 59px;
      padding-top: 22px;
      padding-left: 21px;
      background-image: url('../images/social_bg_1.png');
    }

    &:nth-child(2) {
      width: 54px;
      height: 52px;
      padding-top: 20px;
      padding-left: 20px;
      background-image: url('../images/social_bg_2.png');
    }

    &:nth-child(3) {
      width: 50px;
      height: 62px;
      padding-top: 16px;
      padding-left: 16px;
      background-image: url('../images/social_bg_3.png');
    }
  }
}

.r-breadcrumps {
  display: block;
  position: relative;
  width: 100%;
  padding: 16px 0;

  &__this {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #1b1b1b;
    font-size: 14px;
    font-weight: 300;

    a {
      color: #1b1b1b;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #ab251b;
        text-decoration: none;
      }
    }

    li {
      display: inline;
    }
  }
}

.r-page {
  display: block;
  position: relative;
  width: 100%;
  padding: 40px 0 0 0;

  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #1b1b1b;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    display: block;
    width: 100%;
    max-width: 670px;
    margin: 0 0 55px 0;
    color: #1d1d1d;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.67;

    &_centered {
      margin: 0 auto 55px auto;
      text-align: center;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    margin-left: 25px;
    margin-bottom: 60px;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;

    span,
    p {
      display: inline-block;
      margin: 0 0 0 15px;
    }

    img,
    svg {
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {

      img,
      svg {
        filter: brightness(1.2);
      }

      color: #1d1d1d;
      text-decoration: none;
    }
  }
}

.r-catalog {
  display: block;
  padding: 0 0 70px 0;

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    height: 370px;
    margin: 0 auto 30px auto;
    background-position: 0 0;
    background-size: auto 100%;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.4s ease-out;

    &:hover {
      .r-catalog__card-content {
        background: transparent;
      }

      background-size: auto 105%;
      text-decoration: none;
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: flex-start;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 40px 40px 30px 40px;
      background-color: rgba(29, 29, 29, 0.4);
    }

    &-info {
      display: flex;
      align-items: center;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;

      img,
      svg {
        display: inline-block;
        margin-right: 10px;
      }

      sup {
        font-size: 12px;
      }
    }

    &-title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
    }
  }
}

.r-catalog-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 0;
  background: #363636;
  z-index: 0;

  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 90px 50px 20px 0;
    color: #ffffff;

    a {
      color: #ab251b;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #ab251b;
        text-decoration: none;
      }
    }

    ul {
      display: block;
      margin: 20px 0 25px 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        padding-left: 45px;
        background: url('../images/icon_li.png') no-repeat left 20px top 10px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.88;
      }
    }

    p {
      display: block;
      margin: 0 0 22px 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.88;
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 820px;
      height: calc(100% + 30px);
      left: -80px;
      top: -10px;
      background: url('../images/page_catalog_seo_text_bg.png') no-repeat;
      background-size: 100% 100%;
      z-index: 0;
    }
  }

  &__title {
    display: block;
    position: relative;
    margin: 0 0 25px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 470px;
    height: 570px;
    background-position: center center;
    background-size: cover;

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: -55px;
      left: 25px;
      background: url('../images/catalog_seo_bg.svg') no-repeat center center;
      background-size: 100% 100%;
      z-index: -1;
    }
  }
}

.r-news {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 60px 0;
  z-index: 0;

  &__main {
    display: block;
    position: relative;
    width: 100%;
    padding: 55px 0 45px 0;

    &-title {
      display: block;
      margin: 0 0 30px 0;
      color: #1b1b1b;
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-text {
      display: block;
      max-width: 410px;
      margin: 0;
      color: #1d1d1d;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.88;
    }

    &-link {
      display: inline-flex;
      align-items: center;
      margin: 80px 0 0 0;
      color: #1d1d1d;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;

      span,
      p {
        display: inline-block;
        margin: 0 0 0 15px;
      }

      img,
      svg {
        transition: all 0.2s ease-out;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {

        img,
        svg {
          filter: brightness(1.2);
        }

        color: #1d1d1d;
        text-decoration: none;
      }
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 830px;
      height: 100%;
      left: -80px;
      top: 0;
      background: url('../images/news_text_bg.png') no-repeat;
      background-size: 100% 100%;
      z-index: -1;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 670px;
    height: 510px;
    background-position: center center;
    background-size: cover;

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: -50px;
      left: 35px;
      background: url('../images/news_image_bg.svg') no-repeat center center;
      background-size: 100% 100%;
      z-index: -1;
    }
  }


  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 50px 0 0 0;

    p {
      display: block;
      margin: 0 0 30px 0;
      color: #1d1d1d;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.88;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 20px 0;
      color: #1d1d1d;
      font-weight: 700;
    }

    h2 {
      font-size: 30px;
    }

    h3 {
      font-size: 25px;
    }

    h4 {
      font-size: 20px;
    }

    h5 {
      font-size: 16px;
    }

    h6 {
      font-size: 12px;
    }

    a {
      color: #ab251b;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #ab251b;
        text-decoration: none;
      }
    }

    ul {
      display: block;
      margin: 20px 0 25px 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        padding-left: 45px;
        background: url('../images/icon_li.png') no-repeat left 20px top 10px;
        color: #1d1d1d;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.88;
      }
    }

    blockquote {
      display: block;
      position: relative;
      width: 100%;
      margin: 20px 0 50px 0;
      padding: 60px 75px;
      border-left: 5px solid #09ab82;
      background: #f6f6f6;
      color: #1d1d1d;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  figure {
    display: block;
    position: relative;
    width: 100%;
    margin: 80px 0 50px 0;

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 805px;
      height: 418px;
      top: -40px;
      left: -50px;
      background: url('../images/news_figure_bg.svg') no-repeat center center;
      background-size: 100% 100%;
      z-index: -1;
    }

    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }

    figcaption {
      display: block;
      position: relative;
      padding: 26px 85px 30px 85px;
      color: #1d1d1d;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.88;

      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 725px;
        height: 410px;
        left: 25px;
        bottom: 0;
        background: url('../images/news_caption_bg.png') no-repeat;
        background-size: 100% 100%;
        z-index: -1;
      }
    }
  }
}

.table {
  margin-bottom: 30px;
  background: #ffffff;
}

.table td,
.table th {
  padding: 20px 22px;
  border-color: #292929;
  color: #1d1d1d;
  font-size: 16px;
  font-weight: 300;
}

.table thead th {
  padding: 20px 22px;
  border-color: #ab251b;
  background: #ab251b;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

.table-responsive {
  margin: 20px 0;
  color: #1d1d1d;
  font-size: 16px;
  font-weight: 300;
}

.r-events {
  display: block;
  position: relative;
  width: 100%;

  &__years {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
  }

  &__year {
    display: inline-block;
    padding: 0 18px 12px 18px;
    color: #1b1b1b;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;

    &_active {
      color: #ab251b;
      font-weight: 700;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #ab251b;
      text-decoration: none;
    }
  }

  &__months {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding-bottom: 40px;
    text-align: center;
  }

  &__month {
    display: inline-block;
    padding: 0 0 10px 0;
    color: #1b1b1b;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;

    &_active {
      color: #ab251b;
      font-weight: 700;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #ab251b;
      text-decoration: none;
    }
  }

  &__tags {
    display: block;
    position: relative;
    width: 100%;
    padding: 0 0 50px 0;

    &-card {
      display: inline-block;
      position: relative;
      margin: 0 20px 20px 0;
      padding: 18px 32px;
      border: 5px solid #dedede;
      background-color: transparent;
      color: #1b1b1b;
      font-size: 18px;
      font-weight: 300;
      text-align: center;

      &_active {
        border-color: #ab251b;
        font-weight: 700;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background-color: #dedede;
        color: #1d1d1d;
        text-decoration: none;
      }
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
    padding: 0 0 20px 0;
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 270px;
    margin: 0 auto 30px auto;
    background-size: auto 100%;
    background-position: 0 0;

    &_long {
      max-width: 570px;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.4s ease-out;

    &:hover {
      background-size: auto 105%;
      text-decoration: none;

      .r-events__card-content {
        background: transparent;
      }
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: flex-start;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      background-color: rgba(29, 29, 29, 0.4);
      transition: all 0.2s ease-out;
    }

    &-title {
      display: block;
      max-width: 285px;
      height: 48px;
      margin: 0;
      overflow: hidden;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.2;
    }

    &-date {
      display: block;
      margin: 0 0 12px 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
    }
  }
}

.r-gallery {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 70px;

  &__cards {
    display: block;
    position: relative;
    width: 100%;
    padding: 0 0 35px 0;
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    height: 270px;
    margin: 0 auto 30px auto;
    background-position: center center;
    background-size: cover;

    &-content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: rgba(29, 29, 29, 0.7);
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      text-decoration: none;

      .r-gallery__card-content {
        opacity: 1;
      }
    }
  }

  &__centered {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  &__loader {
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;

    span,
    p {
      display: inline-block;
      margin: 0 0 0 15px;
    }

    img,
    svg {
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {

      img,
      svg {
        filter: brightness(1.2);
      }

      color: #1d1d1d;
      text-decoration: none;
    }
  }
}

.r-residents {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 20px 0;

  &__title {
    display: block;
    margin: 0 0 35px 0;
    color: #1d1d1d;
    font-size: 30px;
    font-weight: 700;
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 35px;
  }

  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 auto 30px auto;
    text-align: left;

    &-title {
      display: block;
      position: relative;
      width: 100%;
      padding: 16px 20px;
      color: #1d1d1d;
      font-size: 20px;
      font-weight: 700;
    }

    &-image {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 270px;
      background-color: #f3f3f3;
      overflow: hidden;

      img,
      svg {
        max-width: 100%;
        max-height: 100%;
        transition: all 0.2s ease-out;
      }
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      .r-residents__card-image {

        img,
        svg {
          transform: scale(1.2);
        }
      }

      text-decoration: none;
    }
  }

  &__filter {
    display: block;
    position: relative;
    width: 100%;
    padding: 50px 0 65px 0;

    select {
      display: inline-block;
      margin: 0 75px 0 0;
      padding: 2px 40px 0 0;
      border: 0;
      outline: none;
      background: transparent;
      color: #010101;
      font-size: 18px;
      font-weight: 300;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url('../images/icon_select.png') no-repeat right 5px center;
    }
  }

  &__sort {
    display: inline-flex;
    align-items: center;
    color: #010101;
    font-size: 18px;
    font-weight: 300;

    label {
      margin: 0;
      padding: 0;

      input {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;

        &:not(:checked)~span {
          text-decoration: underline !important;
        }
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #d42f23;
        text-decoration: none;
      }
    }
  }

  input[type='search'] {
    display: inline-block;
    max-width: 270px;
    padding: 8px 10px;
    border: 0;
    outline: none;
    border-bottom: 1px solid #ab251b;
    color: #1b1b1b;
    font-size: 16px;
    font-weight: 300;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    margin-left: 55px;
    margin-top: -10px;
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    text-align: left;

    span,
    p {
      display: inline-block;
      margin: 0 0 0 15px;
    }

    img,
    svg {
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {

      img,
      svg {
        filter: brightness(1.2);
      }

      color: #1d1d1d;
      text-decoration: none;
    }
  }
}

.r-area {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 60px 0;
  z-index: 0;

  &__main {
    display: block;
    position: relative;
    width: 100%;
    padding: 55px 0 45px 0;

    ul {
      display: block;
      margin: 0 0 25px 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        padding-left: 45px;
        background: url('../images/icon_li.png') no-repeat left 20px top 10px;
        color: #1d1d1d;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.88;
      }
    }

    &-title {
      display: block;
      margin: 0 0 30px 0;
      color: #1b1b1b;
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-price {
      display: block;
      margin: 0 0 26px 0;
      color: #1b1b1b;
      font-size: 25px;
      font-weight: 300;

      b,
      strong {
        color: #ab251b;
        font-weight: 700;
      }
    }

    &-info {
      display: block;
      margin: 0 0 20px 0;
      color: #1d1d1d;
      font-size: 20px;
      font-weight: 700;
    }

    &-link {
      display: inline-flex;
      align-items: center;
      margin: 80px 0 0 0;
      color: #1d1d1d;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;

      span,
      p {
        display: inline-block;
        margin: 0 0 0 15px;
      }

      img,
      svg {
        transition: all 0.2s ease-out;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {

        img,
        svg {
          filter: brightness(1.2);
        }

        color: #1d1d1d;
        text-decoration: none;
      }
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 830px;
      height: 100%;
      left: -80px;
      top: 0;
      background: url('../images/area_text_bg.png') no-repeat;
      background-size: 100% 100%;
      z-index: -1;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 670px;
    height: 625px;
    background-position: center center;
    background-size: cover;

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: -60px;
      left: 35px;
      background: url('../images/area_image_bg.svg') no-repeat center center;
      background-size: 100% 100%;
      z-index: -1;
    }
  }

  &__tabswrapper {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 30px;
  }

  &__tabs {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 3;

    li {
      display: inline-block;
      position: relative;
      margin-right: 50px;
      padding: 7px 0 5px 0;
      border-bottom: 5px solid transparent;
      opacity: 0.5;
      color: #1d1d1d;
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        opacity: 1;
        color: #1d1d1d;
        text-decoration: none;
      }
    }
  }

  &__tabitem {
    position: relative;
    margin-bottom: -1px;
    z-index: 1;

    &.r-area__tabitem_active {
      opacity: 1 !important;
      border-color: #ab251b !important;
      color: #1d1d1d !important;
    }
  }

  &__tabcontent {
    display: none;
    position: relative;
    width: 100%;
    padding: 30px 0 20px 0;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.88;

    &.r-area__tabcontent_active {
      display: block;
    }

    p {
      margin: 0 0 16px 0;
    }
  }
}

.r-big-gallery {
  display: block;
  position: relative;
  width: 100%;

  &__cards {
    display: block;
    position: relative;
    width: 100%;
    min-height: 610px;
    padding: 45px 0 95px calc((100vw - 1200px) / 2);
  }

  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 550px;
    height: 335px;
    background-size: auto 100%;
    background-position: 0 0;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.4s ease-out;

    &:hover {
      background-size: auto 105%;
      text-decoration: none;
    }

    &.swiper-slide-active {
      max-width: 770px;
      height: 470px;
    }
  }

  .swiper-button-prev {

    img,
    svg {
      transition: all 0.2s ease-out;
    }

    top: auto;
    bottom: 113px;
    left: auto;
    right: calc((100vw - 1200px) / 2 + 335px + 16px);
    outline: none;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    z-index: 2;
    transition: all 0.2s ease-out;

    &:hover {

      img,
      svg {
        filter: brightness(1.2);
      }

      color: #ffffff;
      text-decoration: none;
    }
  }

  .swiper-button-next {

    img,
    svg {
      transition: all 0.2s ease-out;
    }

    top: auto;
    bottom: 109px;
    right: calc((100vw - 1200px) / 2 + 288px);
    outline: none;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    z-index: 2;
    transition: all 0.2s ease-out;

    &:hover {

      img,
      svg {
        filter: brightness(1.2);
      }

      color: #ffffff;
      text-decoration: none;
    }
  }
}

.r-resident {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px 0 65px 0;

  &__content {
    display: block;
    position: relative;
    width: 100%;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.88;

    p {
      display: block;
      margin: 0 0 15px 0;
    }

    a {
      color: #ab251b;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #ab251b;
        text-decoration: none;
      }
    }

    ul {
      display: block;
      margin: 20px 0 25px 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        padding-left: 45px;
        background: url('../images/icon_li.png') no-repeat left 20px top 10px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.88;
      }
    }
  }

  &__big {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 15px;

    &-card {
      display: block;
      position: relative;
      width: 100%;
      max-width: 570px;
      height: 340px;
      margin: 0 auto;
      background-position: center center;
      background-size: cover;
    }
  }

  &__small {
    display: block;
    position: relative;
    width: 100%;

    &-card {
      display: inline-block;
      position: relative;
      width: 100%;
      max-width: 180px;
      height: 105px;
      margin: 0 auto;
      background-position: center center;
      background-size: cover;

      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 1;
        background-color: rgba(29, 29, 29, 0.4);
        transition: all 0.2s ease-out;
      }

      &.swiper-slide-thumb-active {
        &:after {
          opacity: 0;
        }
      }
    }
  }
}

.r-resident-info {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 105px;

  &__logo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 270px;
    height: 400px;

    img,
    svg {
      max-width: 100%;
      max-height: 100%;
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 75px;
      height: 100%;
      left: 100%;
      top: 0;
      background: inherit;
    }
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 62px 0 20px 70px;
    background: url('../images/resident_bg.svg') no-repeat center top;
    background-size: cover;
  }

  &__title {
    display: block;
    margin: 0 0 25px 0;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
  }

  &__info {
    display: block;
    margin: 0 0 16px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;

    b,
    strong {
      font-weight: 700;
    }

    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #ab251b;
        text-decoration: none;
      }
    }
  }
}

.r-history {
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 0 30px 0;

  &:after {
    display: block;
    position: absolute;
    content: '';
    width: 1321px;
    height: 793px;
    left: -85px;
    top: 135px;
    background: url('../images/history_text_bg.png') no-repeat;
    background-size: 100% 100%;
    z-index: -1;
  }

  &_margin {
    margin-bottom: 75px;
  }

  &__title {
    display: block;
    max-width: 465px;
    margin: 45px 0 50px 0;
    color: #1d1d1d;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  p {
    display: block;
    margin: 0 0 16px 0;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.88;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 640px;
    height: 410px;
    margin-left: 30px;
    background-position: center center;
    background-size: cover;

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 697px;
      height: 411px;
      top: -40px;
      left: 10px;
      background: url('../images/history_image_bg.svg') no-repeat center center;
      background-size: 100% 100%;
      z-index: -1;
    }
  }

  &__reimage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 610px;
    height: 470px;
    background-position: center center;
    background-size: cover;

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 631px;
      height: 478px;
      top: -40px;
      left: -45px;
      background: url('../images/history_image_bg_2.svg') no-repeat center center;
      background-size: 100% 100%;
      z-index: -1;
    }
  }
}

.r-features {
  display: block;
  position: relative;
  width: 100%;
  padding: 105px 0 90px 0;
  background: url('../images/features_bg.svg') no-repeat center top;
  background-size: cover;

  &__cards {
    display: block;
    position: relative;
    width: 100%;

    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 1280px;
      height: 100%;
      left: -50px;
      top: 12px;
      background: url('../images/features_text_bg.png') no-repeat;
      background-size: 100% 100%;
      z-index: 0;
    }
  }

  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 340px;
    margin: 0 auto 30px auto;
    text-align: center;

    &-image {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: 120px;

      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-title {
      display: block;
      margin: 0 0 25px 0;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
    }

    &-text {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.88;
    }
  }
}

.r-timeline {
  display: block;
  position: relative;
  width: 100%;
  padding: 95px 0 130px 0;

  &__title {
    display: block;
    margin: 0 0 55px 0;
    color: #1d1d1d;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 15px;
    padding-left: calc((100vw - 1200px) / 2);

    .swiper-slide:last-child {
      max-width: 490px !important;
    }
  }

  &__card {
    display: flex;
    align-items: stretch;
    position: relative;
    width: 100%;
    max-width: 970px;

    &-image {
      display: block;
      position: relative;
      width: 470px;
      height: 470px;
      background-position: center center;
      background-size: cover;
    }

    &-date {
      display: block;
      position: absolute;
      left: 0;
      top: -13px;
      width: 265px;
      height: 483px;
      padding: 36px 90px 20px 40px;
      background: url('../images/icon_big_flag.png') no-repeat 0 0;
      color: #ffffff;
      font-size: 50px;
      font-weight: 700;
    }

    &-content {
      display: block;
      position: relative;
      width: 500px;
      height: 100%;
      padding: 160px 0 10px 80px;
    }

    &-title {
      display: block;
      margin: 0 0 20px 0;
      color: #1d1d1d;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.2;
    }

    &-text {
      display: block;
      height: 240px;
      overflow: hidden;
      margin: 0;
      color: #1d1d1d;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.88;
    }
  }

  &__years {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 50px;

    .swiper-slide:last-child {
      max-width: 0 !important;
    }
  }

  &__year {
    display: block;
    max-width: 146px;
    padding: 16px 50px;
    border: 5px solid #dedede;
    background-color: #ffffff;
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 300;
    text-align: center;

    &.swiper-slide-thumb-active {
      border-color: #ab251b;
      font-weight: 700;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: #dedede;
      color: #1d1d1d;
      text-decoration: none;
    }
  }
}

.r-views {
  display: block;
  position: relative;
  width: 100%;
}

.r-view-info {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 80px;

  &__content {
    display: block;
    position: relative;
    width: 100%;

    ul {
      display: block;
      margin: 20px 0 35px 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        padding-left: 45px;
        background: url('../images/icon_li.png') no-repeat left 20px top 10px;
        color: #1d1d1d;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.88;
      }
    }

    a {
      color: #ab251b;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #ab251b;
        text-decoration: none;
      }
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 782px;
      height: calc(100% + 16px);
      left: -65px;
      top: 10px;
      background: url('../images/view_text_bg.png') no-repeat;
      background-size: 100% 100%;
      z-index: -1;
    }
  }

  &__title {
    display: block;
    max-width: 275px;
    margin: 85px 0 0 0;
    color: #1d1d1d;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__subtitle {
    display: flex;
    align-items: center;
    margin: 65px 0 20px 0;
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 700;

    img,
    svg {
      display: inline-block;
      margin-right: 20px;
    }
  }

  &__text {
    display: block;
    margin: 0;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.88;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 640px;
    height: 590px;
    margin-left: 30px;
    background-position: center center;
    background-size: cover;

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 677px;
      height: 596px;
      top: -45px;
      left: 10px;
      background: url('../images/view_image_bg.svg') no-repeat center center;
      background-size: 100% 100%;
      z-index: -1;
    }
  }
}

.r-view-reinfo {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 50px;

  &__content {
    display: block;
    position: relative;
    width: 100%;

    ul {
      display: block;
      margin: 20px 0 35px 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        padding-left: 45px;
        background: url('../images/icon_li.png') no-repeat left 20px top 10px;
        color: #1d1d1d;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.88;
      }
    }

    a {
      color: #ab251b;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #ab251b;
        text-decoration: none;
      }
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 782px;
      height: calc(100% + 40px);
      top: 10px;
      right: -75px;
      background: url('../images/view_text_bg_2.png') no-repeat;
      background-size: 100% 100%;
      z-index: -1;
    }
  }

  &__title {
    display: block;
    max-width: 450px;
    margin: 0 0 50px 0;
    color: #1d1d1d;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__subtitle {
    display: flex;
    align-items: center;
    margin: 65px 0 20px 0;
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 700;

    img,
    svg {
      display: inline-block;
      margin-right: 20px;
    }
  }

  &__text {
    display: block;
    margin: 0;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.88;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 640px;
    height: 385px;
    margin-left: 30px;
    background-position: center center;
    background-size: cover;

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 697px;
      height: 401px;
      top: -30px;
      left: -65px;
      background: url('../images/view_image_bg_2.svg') no-repeat center center;
      background-size: 100% 100%;
      z-index: -1;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 999rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 999rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ab251b;
  border-radius: 999rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d42f23;
}

.r-view-main {
  display: block;
  position: relative;
  width: calc(100% + 160px);
  margin-left: -60px;
  padding: 90px 0 0 0;
  overflow-x: auto;

  &__image {
    display: block;
  }

  &__info {
    display: block;
    position: absolute;
    z-index: 7;
  }

  &__flag {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    align-items: center;
    left: 14px;
    bottom: 76px;
    width: 0;
    height: 44px;
    overflow: hidden;
    padding: 0;
    background: url('../images/icon_flag.png') no-repeat 0 0;
    background-size: 100% 100%;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    transition: all 0.2s ease-out;
    transition-delay: 0s;

    &_active {
      width: 150px;
      padding: 2px 35px 2px 4px;
      transition-delay: 0.2s;
    }
  }

  &__dot {
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 999rem;
    background: #292929 url('../images/icon_dot.png') no-repeat center center;
    background-size: contain;
    transition: all 0.2s ease-out;
  }

  &__line {
    display: block;
    position: absolute;
    width: 4px;
    height: 0;
    overflow: hidden;
    bottom: 20px;
    left: 11px;
    background-color: #292929;
    transition: all 0.2s ease-out;
    transition-delay: 0.2s;
    z-index: 6;

    &_active {
      height: 100px;
      transition-delay: 0s;
    }
  }

  &__object {
    display: block;
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      filter: brightness(1.3);
      text-decoration: none;
    }

    &_1 {
      bottom: 118px;
      left: 79px;
      width: 189px;
      height: 162px;
      background-image: url('../images/view_main_1.png');
      z-index: 3;
      cursor: default;

      &:hover {
        filter: none;
      }
    }

    &_2 {
      bottom: 235px;
      left: 189px;
      width: 134px;
      height: 64px;
      background-image: url('../images/view_main_2.png');

      .r-view-main__info {
        bottom: 35px;
        left: 70px;
      }
    }

    &_3 {
      bottom: 208px;
      left: 286px;
      width: 50px;
      height: 62px;
      background-image: url('../images/view_main_3.png');

      .r-view-main__info {
        bottom: 20px;
        left: 10px;
      }

      z-index: 4;
    }

    &_4 {
      bottom: 208px;
      left: 311px;
      width: 92px;
      height: 138px;
      background-image: url('../images/view_main_4.png');

      .r-view-main__info {
        bottom: 105px;
        left: 3px;
      }

      z-index: 1;
    }

    &_5 {
      bottom: 191px;
      left: 337px;
      width: 140px;
      height: 192px;
      background-image: url('../images/view_main_5.png');

      .r-view-main__info {
        bottom: 30px;
        left: 50px;
      }

      z-index: 3;
    }

    &_6 {
      bottom: 227px;
      left: 441px;
      width: 59px;
      height: 90px;
      background-image: url('../images/view_main_6.png');

      .r-view-main__info {
        bottom: 60px;
        left: 30px;
      }

      z-index: 2;
    }

    &_7 {
      bottom: 300px;
      left: 415px;
      width: 111px;
      height: 69px;
      background-image: url('../images/view_main_7.png');

      .r-view-main__info {
        bottom: 35px;
        left: 75px;
      }

      z-index: 1;
    }

    &_8 {
      bottom: 307px;
      left: 510px;
      width: 92px;
      height: 61px;
      background-image: url('../images/view_main_8.png');

      .r-view-main__info {
        bottom: 30px;
        left: 35px;
      }
    }

    &_9 {
      bottom: 279px;
      left: 605px;
      width: 266px;
      height: 109px;
      background-image: url('../images/view_main_9.png');

      .r-view-main__info {
        bottom: 70px;
        left: 45px;
      }

      z-index: 1;
    }

    &_10 {
      bottom: 247px;
      left: 696px;
      width: 119px;
      height: 69px;
      background-image: url('../images/view_main_10.png');

      .r-view-main__info {
        bottom: 20px;
        left: 55px;
      }

      z-index: 3;
    }

    &_11 {
      bottom: 253px;
      left: 799px;
      width: 123px;
      height: 77px;
      background-image: url('../images/view_main_11.png');

      .r-view-main__info {
        bottom: 20px;
        left: 65px;
      }

      z-index: 2;
    }

    &_12 {
      bottom: 277px;
      left: 803px;
      width: 401px;
      height: 148px;
      background-image: url('../images/view_main_12.png');

      .r-view-main__info {
        bottom: 30px;
        left: 210px;
      }
    }

    &_13 {
      bottom: 279px;
      left: 725px;
      width: 145px;
      height: 85px;
      background-image: url('../images/view_main_13.png');

      .r-view-main__info {
        bottom: 57px;
        left: 47px;
      }

      z-index: 1;
    }
  }
}

.r-contacts {
  display: block;
  position: relative;
  width: 100%;

  &__map {
    display: block;
    position: relative;
    width: 100%;
    height: 520px;
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 520px;
    max-width: calc((100vw - 1200px) / 2 + 370px);
    padding: 20px 115px 20px calc((100vw - 1200px) / 2);
    background: url('../images/contacts_bg.svg') no-repeat right top;
    background-size: cover;
    z-index: 3;
  }

  &__title {
    display: block;
    margin: 0;
    color: #fefefe;
    font-size: 25px;
    font-weight: 700;
  }

  &__subtitle {
    display: block;
    margin: 30px 0 20px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
  }

  &__info {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.88;

    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #ffffff;
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .r-home-events {
    .swiper-slide-active {

      width: 100%;
      max-width: 370px;
      height: 370px;

      .r-home-events__card-content {
        position: relative;
        top: 100%;
        height: auto;
        padding: 15px 20px 0 20px;
        background: transparent;
      }

      .r-home-events__card-title {
        color: #1d1d1d;
      }

      .r-home-events__card-date {
        color: #1d1d1d;
      }
    }
  }
}

@media (max-width: 1199px) {
  body {
    width: 100%;
    max-width: 100vw;
  }

  .r-bottom__up {
    display: none;
  }

  .r-home-spaces .row:after {
    display: none;
  }

  .r-home-rent__content:after {
    display: none;
  }

  .r-welcome__video:before {
    display: none;
  }

  .r-welcome__content:after {
    display: none;
  }

  .r-home-top__title {
    font-size: 32px;
  }

  .r-home-top__text {
    font-size: 16px;
  }

  .r-header {
    box-shadow: none;
    border-bottom: 5px solid #ab251b;
  }

  .r-header__nav {
    display: none;
  }

  .r-header__phone {
    display: none;
  }

  .r-nav__centered {
    padding: 20px 0;
  }

  .r-nav__close {
    left: auto;
    right: 10px;
    top: 10px;
  }

  .r-home-top {
    margin-top: -121px;
  }

  .r-home-top__content {
    min-height: auto;
    padding: 160px 0 40px 0;
  }

  .r-welcome {
    padding: 30px 0;
  }

  .r-welcome__video {
    height: 350px;
    margin-bottom: 30px;
  }

  .r-home-events__link {
    margin: 15px;
  }

  .r-home-events__cards {
    min-height: auto;
    padding: 0 15px 80px 15px !important;
    overflow: hidden !important;
  }

  .r-home-events__card {
    display: block;
    margin: 0 auto;
  }

  .r-home-events .swiper-button-next {
    top: auto;
    bottom: 0;
    right: auto;
    left: 50%;
    z-index: 2;
  }

  .r-home-events .swiper-button-prev {
    top: auto;
    bottom: 4px;
    left: auto;
    right: 50%;
    margin-right: 36px;
    z-index: 2;
  }

  .r-home-spaces {
    padding: 30px 0;
    background: #292929;
  }

  .r-home-clients {
    padding: 30px 0;
  }

  .r-home-clients__cards {
    padding: 20px 0 0 0;

    &>.row>div {
      margin: 0 !important;
    }
  }

  .r-home-clients__card {
    margin: 0 auto 30px auto;
  }

  .r-home-rent {
    padding: 30px 0;
  }

  .r-home-rent__video:before {
    display: none;
  }

  .r-home-areas {
    margin: 0;
    padding: 20px 0;
  }

  .r-home-areas__prev {
    bottom: -65px;
    left: 15px;
  }

  .r-home-areas__next {
    bottom: -65px;
    left: 77px;
  }

  .r-home-areas__card {
    flex-flow: column nowrap;
  }

  .r-home-areas__card-content {
    max-width: auto;
    padding: 15px 10px;
  }

  .r-home-areas__card-title {
    height: 72px;
    overflow: hidden;
  }

  .r-home-form {
    margin: 0;
    padding: 30px 0;
    background: #363636;
  }

  .r-home-form__form {
    justify-content: space-around;
    text-align: center;
  }

  .r-home-form__input {
    margin: 0 0 30px 0;
  }

  .r-home-form__button {
    margin: 0 0 20px 0;
  }

  .r-home-contacts {
    padding: 30px 0;
  }

  .r-home-contacts #map {
    height: 350px;
  }

  .r-home-contacts__title {
    margin: 20px 0;
  }

  .r-home-contacts__subtitle {
    margin: 20px 0;
  }

  .r-home-contacts__call {
    margin: 20px 0 0 0;
  }

  .r-footer {
    padding: 30px 0;
  }

  .r-footer__logo {
    margin-bottom: 20px;
  }

  .r-bottom__link {
    margin: 20px 0 0 0;
  }

  .r-home-rent__video {
    height: 350px;
  }

  .r-home-spaces__card {
    margin: 0 auto 30px auto;
  }

  .r-home-spaces__more {
    margin: 0 auto;
  }

  .r-modal__content {
    padding: 80px 20px 30px 20px;
    background: #292929;
  }

  .r-catalog-seo__content:after {
    display: none;
  }

  .r-catalog-seo__image:before {
    display: none;
  }

  .r-catalog-seo__image {
    height: 350px;
  }

  .r-catalog-seo__content {
    padding: 20px 0;
  }

  .r-catalog-seo {
    padding: 30px 0;
  }

  .r-catalog {
    padding: 20px 0;
  }

  .r-page__text {
    margin-bottom: 20px;

    &_centered {
      margin-bottom: 20px;
    }
  }

  .r-page {
    padding: 30px 0 0 0;
  }

  .r-page__title {
    font-size: 36px;
  }

  .r-news figure figcaption:after {
    display: none;
  }

  .r-news figure:before {
    display: none;
  }

  .r-news__main:after {
    display: none;
  }

  .r-news__main {
    padding: 20px 0;
  }

  .r-news__main-title {
    margin-bottom: 20px;
    font-size: 36px;
  }

  .r-news__main-text {
    margin-bottom: 20px;
  }

  .r-news__main-link {
    margin-top: 20px;
  }

  .r-news__image {
    height: 350px;

    &:before {
      display: none;
    }
  }

  .r-news figure {
    margin: 30px 0;
  }

  .r-news figure figcaption {
    padding: 30px 20px;
    background: #f6f6f6;
  }

  .r-news {
    padding-bottom: 20px;
  }

  .r-home-contacts_news {
    padding: 30px 0;
    background: #363636;
  }

  .r-page__link {
    margin: 10px 10px 20px 10px;
  }

  .r-events__tags-card {
    margin: 0 5px 5px 0;
    padding: 16px 8px;
  }

  .r-events__card_long {
    max-width: 270px;
  }

  .r-events__years {
    padding: 0 0 10px 0;
  }

  .r-events__months {
    justify-content: center;
  }

  .r-events__month {
    padding: 0 8px 12px 8px;
  }

  .r-events__year {
    padding: 0 8px 12px 8px;
  }

  .r-residents__button span,
  .r-residents__button p {
    display: none;
  }

  .r-residents__button {
    margin-left: 5px;
  }

  .r-residents__filter {
    padding: 20px 0;
  }

  .r-residents__sort {
    margin: 20px 0;
  }

  .r-residents__card {
    margin-bottom: 15px;
  }

  .r-residents__cards {
    padding-bottom: 15px;
  }

  .r-area__main:after {
    display: none;
  }

  .r-area__image {
    height: 350px;
  }

  .r-area__image:before {
    display: none;
  }

  .r-area__main {
    padding: 20px 0;
  }

  .r-area__main-link {
    margin-top: 20px;
  }

  .r-area__tabs li {
    margin-right: 20px;
  }

  .r-area {
    padding: 0 0 5px 0;
  }

  .r-big-gallery__cards {
    min-height: auto;
    padding: 20px 0 80px 0;
  }

  .r-big-gallery__card.swiper-slide-active {
    max-width: 450px;
    height: 350px;
  }

  .r-big-gallery .swiper-button-prev {
    bottom: 18px;
    right: auto;
    left: 15px;
  }

  .r-big-gallery .swiper-button-next {
    bottom: 14px;
    right: auto;
    left: 78px;
  }

  .r-resident-info__logo {
    max-width: 100%;
    height: 350px;

    &:after {
      display: none;
    }
  }

  .r-resident-info {
    padding-bottom: 20px;
  }

  .r-resident-info__content {
    padding: 30px 20px;
  }

  .r-resident-info__title {
    margin: 20px 0 10px 0;
  }

  .r-view-info__content:after {
    display: none;
  }

  .r-view-reinfo__content:after {
    display: none;
  }

  .r-view-info__image:before {
    display: none;
  }

  .r-view-reinfo__image:before {
    display: none;
  }

  .r-view-main {
    width: calc(100% + 30px);
    margin: 0 0 0 -15px;
  }

  .r-view-info__title {
    margin: 20px 0;
  }

  .r-view-info__subtitle {
    margin: 20px 0;
  }

  .r-view-info__image {
    height: 350px;
    margin: 0 auto 20px auto;
  }

  .r-view-reinfo__image {
    height: 350px;
    margin: 10px auto;
  }

  .r-view-info {
    padding-bottom: 20px;
  }

  .r-view-info__text {
    margin-bottom: 20px;
  }

  .r-view-reinfo__title {
    margin: 20px 0;
  }

  .r-view-reinfo {
    padding-bottom: 20px;
  }

  .r-page__title {
    font-size: 35px;
  }

  .r-history {
    padding: 20px 0;
  }

  .r-history:after {
    display: none;
  }

  .r-history__title {
    margin: 0 0 20px 0;
  }

  .r-history__image {
    height: 350px;
    margin: 0 auto 20px auto;

    &:before {
      display: none;
    }
  }

  .r-history_margin {
    margin-bottom: 20px;
  }

  .r-history__reimage {
    height: 350px;
    margin: 0 auto 20px auto;

    &:before {
      display: none;
    }
  }

  .r-features {
    padding: 30px 0;
    background: #292929;
  }

  .r-timeline {
    padding: 30px 0;
  }

  .r-timeline__title {
    margin-bottom: 20px;
  }

  .r-timeline__cards {
    padding: 15px 0 0 0;
  }

  .r-timeline__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .r-timeline__card-image {
    height: 300px;
  }

  .r-timeline__card-content {
    height: 400px;
    padding: 105px 0 10px 35px;
  }

  .r-timeline__years {
    padding-top: 10px;
  }

  .r-timeline__year {
    max-width: 90px;
    padding: 8px 2px;
  }

  .r-contacts__content {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: auto;
    margin: 0;
    padding: 30px 15px;
    background: #ab251b;
  }

  .r-features__cards:after {
    display: none;
  }

  .r-home-gallery {
    max-width: 100vw;
    overflow: hidden;
  }

  .r-home-areas__card {
    width: 100%;
    max-width: 100%;
  }
}